html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Assicura che il body si espanda oltre la viewport */
}

body {
    background-image: url('Sfondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    max-height: 3000px; 
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 2.9rem;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', sans-serif;
}

h1 {
    font-size: 9.6rem;
    text-align: center;
    margin: 40px;
}

h2 {
    font-size: 6.5rem;
}

h3 {
    font-size: 4.8rem;
    text-align: center;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 2.7rem;
}

h6 {
    font-size: 2.3rem;
}

.titleking {
    margin-bottom: 30px;
}

p {
    font-size: 2.9rem;
    line-height: 1.5;
    text-align: left;
}

#current-time {
    font-size: 3.5rem;
    font-family: 'Audiowide', sans-serif;
}

.logo {
    width: 192px;
    height: auto;
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.navigation-bar {
    position: absolute; 
    bottom: 30px;       
    left: 0;           
    width: 100%;        
    text-align: center;   
    margin: 0;
}

.nav {
    width: 95%;
    position: relative;
    margin: 0 auto;
}

.home-button {
    position: absolute; 
    top: 50%;           /* Centra verticalmente rispetto alla barra */
    left: 50%;          /* Centra orizzontalmente rispetto alla barra */
    transform: translate(-50%, -50%); /* Centra il pulsante esattamente al centro */
    z-index: 100;        /* Assicura che sia sopra l'immagine nav */
    width: 160px;        
    height: auto;       
}

.back-button {
    position: absolute; 
    top: 50%;           
    left: 8%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 96px;        
    height: 96px; 
}

.accessibilità-button {
    position: absolute; 
    top: 50%;           
    left: 85%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 96px;        
    height: 96px; 
}

.lingue-button {
    position: absolute; 
    top: 50%;           
    left: 92%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 96px;        
    height: 96px;
}

.descrizione {
    background: rgba(255, 255, 255, 0.152);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
    width: 850px;
    height: 1400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: -1;
}

.rettangolo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 850px; /* Larghezza del rettangolo */
    height: 220px; /* Altezza del rettangolo */
    background-color: #9c50ff28;/* Colore trasparente */
    z-index: -1; /* Porta il rettangolo dietro al contenuto */
    border-radius: 20px 20px 0 0; /* Arrotonda i bordi */
}

.descrizione h2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.descrizione h4 {
    margin-bottom: 20px;
    text-align: center;
}

.descrizione p {
    margin-bottom: 80px;
    text-align: center;
}

button {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 20px;
    cursor: pointer;
}

.select-button {
    background-color: #9D50FF;
    border: 3px solid #9D50FF;
}

.select-button:focus{
    background-color: #50136e;
    border: 5px solid #9D50FF;
}

.velurion-image {
    height: 1600px;
    width: 1600px;
    position: absolute;
    left: -550px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
    padding: 0 !important;
}

