html, body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100%; /* Assicura che il body si espanda oltre la viewport */
}

body {
    background-image: url('../img/Sfondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    max-height: 3000px;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 2.9rem;
    text-align: center;
}

.container-fluid {
    width: 100%;
    padding: 100px;
}

#current-time {
    font-family: 'Audiowide', sans-serif;
    font-size: 3.5rem;
}

.logo {
    width: 192px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 9.6rem;
}

h2 {
    font-size: 6.5rem;
}

h3 {
    font-size: 4.8rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 2.7rem;
}

h6 {
    font-size: 2.3rem;
}

p {
    font-family: 'Exo', sans-serif;
    font-size: 2.9rem;
    line-height: 1.5;
}

.btn {
    font-family: 'Exo', sans-serif;
    font-size: 3.5rem;
    padding: 1rem 5rem;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.select-button {
    background-color: #9D50FF;
    border: 3px solid #9D50FF;
}

.cancel-button {
    background-color: transparent;
    border: 3px solid white;
}

.navigation-bar {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 95%;
    position: relative;
    backdrop-filter: blur(3px);
}

.home-button, .back-button, .accessibilità-button, .lingue-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.home-button {
    left: 50%;
    width: 160px;
    height: auto;
}

.back-button {
    right: 87%;
    width: 96px;
    height: 96px;
}

.accessibilità-button {
    left: 85%;
    width: 96px;
    height: 96px;
}

.lingue-button {
    left: 92%;
    width: 96px;
    height: 96px;
}