html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Assicura che il body si espanda oltre la viewport */
}

body {
    background-image: url('../img/Sfondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    max-height: 1800px; 
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.ora {
    font-size: 32px;
}

.ora, .title {
    color: white;
    font-family: "Audiowide";
}

.logo {
    width: 120px;
    height: 120px;
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.nav {
    width: auto;
    margin: 10px; 
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
}

.navigation-bar {
    position: absolute; 
    bottom: 30px;       
    left: 0;           
    width: 100%;        
    text-align: center;   
    margin: 0; 
}

.home-button {
    position: absolute; 
    top: 50%;           /* Centra verticalmente rispetto alla barra */
    left: 50%;          /* Centra orizzontalmente rispetto alla barra */
    transform: translate(-50%, -50%); /* Centra il pulsante esattamente al centro */
    z-index: 100;        /* Assicura che sia sopra l'immagine nav */
    width: 97px;        
    height: 70px;       
}

.back-button {
    position: absolute; 
    top: 50%;           
    left: 7%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 60px;        
    height: 60px; 
}

.accessibilità-button {
    position: absolute; 
    top: 50%;           
    left: 86%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 60px;        
    height: 60px; 
}

.lingue-button {
    position: absolute; 
    top: 50%;           
    left: 93%;         
    transform: translate(-50%, -50%); 
    z-index: 100;        
    width: 60px;        
    height: 60px;
}
